<%= image_tag 'front-image.jpg', width: '100%' %>
<div class='container white-box py-3'>
  <div class="row">
    <div class="col-4">
      <h3>Service Times</h3>
      <h5>Sunday	10:30 AM</h5>
      <h3>Soulwinning Times</h3>
      <h5>Sunday	2:00 PM</h5>
    </div>
    <div class="col-8">
      <p class=''>If you are looking for an independent, fundamental, King James only, soulwinning, old fashioned Baptist church, then you have found the right place. We are a church that are not only hearers of the word but also doers. Jesus Christ has commissioned us to preach the gospel to every creature and that is what we are doing in the greater Prescott, AZ area.</p>
    </div>
  </div>
  <hr>
  <%= image_tag 'WOTB-map', width: 500 %>
</div>

