<%= image_tag 'front-image.jpg', width: '100%', class: 'mb-4' %>
<div class='px-4 pb-4'>
    <p class='h4'>If you are looking for an independent, fundamental, King James only, soulwinning, old fashioned Baptist church, then you have found the right place. We are a church that are not only hearers of the word but also doers. Jesus Christ has commissioned us to preach the gospel to every creature and that is what we are doing in the greater Prescott, AZ area.</p>
</div>

<h4 class='display-4'>
    Site is under contruction, please bear with us
</h4>