<% provide(:title, "Contact Us") %>
<div class="white-box py-4 px-4">
  <h2>Service Times</h2>
  <h5>Sunday	10:30 am</h5>
  <h2>Soulwinning Times</h2>
  <h5>Sunday	2:00 pm</h5>
  <h2>Address</h2>
  <h5>8154 E Florentine Rd Suite A Prescott Valley, AZ 86314</h5>
  <h2>Phone</h2>
  <h5>928-362-0558</h5>
  <h2>Email</h2>
  <h5>pastor@wordoftruthbaptist.org</h5>
  <h5>Transportation for service is available upon request.</h5>
</div>

