<h1>What We Believe</h1>
<p>
  We believe salvation is a free gift, given to us by God at the moment you put your faith in the Lord Jesus Christ. A believer has eternal life and can never lose their salvation (once saved, always saved.)
</p>
<p>
  We believe that the unbeliever will spend an eternity of torture and torment in a literal, fiery hell.
</p>
<p>
  We believe that the King James Bible is the preserved Word of God for us in the English language and is without error. We are a "King James Bible only" church.
</p>
<p>
  We believe that Jesus Christ was God manifest in the flesh, born of a virgin, lived a sinless life, was crucified on a cross, was buried, and rose again from the dead after 3 days.
</p>
<p>
  We believe that the godhead consists of the Father, the Word (Jesus Christ), and the Holy Ghost and these three are one (the trinity.)
</p>
<p>
  We believe that a New Testament church should be independent, with Christ as its head, and not part of a denomination.
</p>
<p>
  We believe that a church, by definition is an assembly of believers and reject the teaching of a universal church.
</p>
<p>
  We reject the teaching of Calvinism on all five points.
</p>
<p>
  We believe that the rapture will happen after the tribulation, but before God pours out his wrath upon the earth.
</p>
<p>
   We believe that those who are saved ought to live a life pleasing to God in accordance to his laws and not "the way of the world."
</p>