<h3>
    Click the either link to Donate
</h3>
<h5>*Note* Donation is directed to Faithful Word Baptist Church</h5>

<div class='d-flex justify-content-center my-4'>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input name="cmd" value="_s-xclick" type="hidden">
    <input name="hosted_button_id" value="M6ZRBM5KCXLV4" type="hidden">
    <input src="paypal.png" name="submit" alt="PayPal - The safer, easier way to pay online!" type="image" border="0" width='150px'>
    <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" border="0">
</form>
</div>

<div class='d-flex justify-content-center my-4'>
    <%= link_to 'Donate', 'https://secure.usaepay.com/pay/5nkt6j1jx5d4ccsgb/d0VrtDsp', class: 'red-btn h1 mx-auto', target: '_blank' %>
</div>
