<% provide(:title, "Donate") %>
<h3 class="text-center">Click the link below to donate to Faithful Word Baptist Church</h3>

<div class='d-flex justify-content-center my-4'>
    <%= link_to 'Donate', 'https://secure.usaepay.com/pay/5nkt6j1jx5d4ccsgb/d0VrtDsp', class: 'red-btn h1 mx-auto', target: '_blank' %>
</div>
