<div class='black-navigation mb-4 mx-auto'>
    <%= link_to "Sermons", sermons_path, class: "" %>
    <%= link_to "Doctrine", doctrine_path, class: "" %>
    <%= link_to "About Us", about_path, class: "" %>
    <%= link_to "Contact Us", contact_path, class: "" %>
</div>